/** Mobile first design **/
.container{
    margin-bottom: 6rem;
}

.title{
    letter-spacing: -0.025 em;
    font-weight: 800;
    color : var(--text-black);

    font-size: 3rem;
    line-height: 1;
}

.title1{
    color :var(--text-lcterine);
}

.title2{
    display: block;
    color :var(--text-purple);
}

.subTitle{
    margin-top: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--text-black);
}

.button{
    background-color: var(--text-purple-dark);
}

 