
body{ 
  background: url("/static/background1.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color:cornflowerblue;
  height: 100%;
}



:root{
  --text-purple: rgba(67, 56, 202, 1);
  --text-purple-dark: rgba(79, 70, 229, 1);
  --text-black: rgba(17, 24, 39, 1);
  --text-white-100: rgba(229, 231, 235, 1);
  --text-lcterine: rgba(189, 196, 167, 1);
}

/*This to make borders in elements work properly*/
* {
  box-sizing: border-box;
}
